<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title> School Activities </title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="manifest" href="CW2.webmanifest">
</head>

<body>
    <div class="grid-container"> <!-- CSS Grid -->

        <div class="item1"> <!-- Header -->
            <header>
                <h1>School Activities</h1>
            </header>
        </div>

        <div class="item2"> <!-- Nav Bar -->
            <nav>
                <ul>
                    <li class="home"> <!-- name of button (item in the list) -->
                        <a href="main.html">Home</a>
                    </li>
                    <li class="activities">
                        <a href="activities.html">Classes</a>
                    </li>
                    <li class="reviews">
                        <a href="reviews.html">Reviews</a>
                    </li> 
                    <li class="admin">
                        <a href="admin.html">Admin</a>
                    </li> <br>
                </ul>
            </nav>
        </div>

        <div class="item3">

            <button id="notifications">Request dummy notifications</button>
            
            <h1>All Courses</h1>
            <section id="content">
                <!-- Content will be inserted from main.js -->
                <article v-for="course in courses">
                    <img class="course-images" src="/placeholder.png" :data-src="'/'+course.image+'.jpg'" :alt="course.topic">
                    <ul class="courses-list">
                        <li>Topic: <strong>{{course.topic}}</strong></li>
                        <li>Price: {{course.price}}</li>
                        <li>Location: {{course.location}}</li>
                        <li>Provider: {{course.provider}}</li>
                    </ul>
                </article>
            </section>

            <h1>Search Classes</h1>
            <div id="search">
                <div>
                    <label>Search title:</label>
                    <input type="text" v-model="searchBar" placeholder="Search title.."/>
                </div>
                <div id="courseList">
                    <h2>Course List</h2>
                    <Button @click='loadCourses'>Display all courses</Button> <br>
                    <div v-for="course in filteredList" class="course">
                        <li v-for='(value, name) in course'>{{name}}: {{value}}</li>
                    </div>
                </div>
            </div> <br>

            <h1>Get Courses from a Provider</h1>
            <div id="searchProvider">
                <form action="/findCourse" method="POST">
                    <label for="provider">Provider:</label>
                    <input required type="text" name="provider"> <br>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
    <script src="app.js"></script>
</body>

</html>